/*
Copyrigth Softi 2017

============================
Índice:
============================

1. Configuraciones Globales
2. Header/Nav/Subheader
3. Sección
4. Footer

============================

===========================
1. Configuraciones Globales 
===========================
*/

@font-face{
    font-family: "Softi-Bolt";
    src: url("../assets/fonts/SoftiBold.otf");
}
@font-face{
    font-family: "Softi-Light";
    src: url("../assets/fonts/SoftiLight.otf");
}

*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    max-height: 100%;
    font-family: Softi-Light;
}

body{
    background-image: url(../assets/img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.borde-difuminado{
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
}

.text-separation-left{
    padding-left: 7%;
}

.text-separation-right{
    padding-right: 7%;
}

hr{
    width: 85%;
    margin: 0 auto;
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.icon{
    width: 20px;
    height: 20px;
}

.button-small{
    width: 35%;
    height: 35px;
    border-radius: 2px;
    border-style: double;
    margin: 4%;
}

.white{
    background-color: white;
    color: #FF4B05;
}
/* 
========================
2. Header/Nav 
========================
*/

header{
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
    background: url("../assets/img/desarrollo-web.jpg") no-repeat;
    background-size: cover;
}

nav{
    position: relative;
    height: 80px;
    width: 100%;
    padding: 0 7%;
    margin-top: 2%;
}

nav .logo-principal, nav .nav-content, .services .header-services .img-services{
    vertical-align: top;
    display: inline-block;
}

.logo-principal{
    position: relative;
    display: block;
    height: 100%;
    background-size: 100% 100%;
}

.nav-content{
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
}

.nav-content ul{
    position: relative;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    top: 25%;
    list-style: none;
    text-align: center;
}

.nav-content ul li{
    width: 25%;
    height: 100%;
    float: left;
    color: #fff;
}
.nav-content ul li a{
    width: 100%;
    height: 100%;
    display: block;
    line-height: 40px;
    text-decoration: none;
    font-family: Softi-Bolt;
    transition: background-color 1s !important;
    transition: color 1s;
}

.nav-content ul li a:hover{
    background-color: #fff;
    color: #000;
}

.partial-header{
    position: relative;
    width: 100%;
    height: 70%;
    display: -webkit-flex;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.services{
    width: 25%;
    height: 35%;
    text-align: center;
}

.services .header-services{
    width: 100%;
    height: 80%;
}

.services .header-services .img-services{
    width: 32%;
    height: 100%;
}

.img-services1, .img-services2, .img-services3{
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.services .header-services .img-services.img-services1{
    background-image: url("../assets/img/web.png");
}
.services .header-services .img-services.img-services2{
    background-image: url("../assets/img/movil.png");
}
.services .header-services .img-services.img-services3{
    background-image: url("../assets/img/soporte.png");
}

.services .legend-services{
    position: relative;
    display: block;
    width: 100%;
    height: 20%;
    line-height: 40px;
    color: #fff;
    font-family: Softi-Bolt;
    font-size: 20px;
}

.button-scroll{
    width: 4%;
    height: 8%;
    position: relative;
    display: block;
    float: right;
    margin-right: 2%;
    border-radius: 3px;
    border-style: none;
    background: white url("../assets/img/scroll-button.png");
    background-size: 100% 100%;
    transition: background-color 1s;
}

.button-scroll:hover{
    background-color: gainsboro; 
}

.sub-header{
    position: relative;
    display: block;
    width: 100%;
    height: 10%;
    padding: 1% 7%;
    background-color: gainsboro;
}

.desarrollo-web1, .desarrollo-web2{
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-right: 5.5%;
}

.desarrollo-web1{
    width: 9%;
    height: 100%;
}

.desarrollo-web2{
    width: 4%;
    height: 100%;
}

.desarrollo-web1:last-child{
    margin-right: 0;
}

/*
======================
3. Sección
======================
*/

.services-bussines{
    position: relative;
    display: block;
    width: 100%;
    height: 250px;
    max-height: 300px;
    overflow: hidden;
    padding: 1% 7%;
    margin: 4% 0;
}

.services-bussines .text-services-bussines, .services-bussines .img-services-bussines{
    position: relative;
    display: block;
    height: 100%;
    float: left;
}

.services-bussines .text-services-bussines{
    width: 70%;
}

.services-bussines .img-services-bussines{
    width: 30%;
}

.services-bussines .text-services-bussines h2{
    color: #FF4B05;
    font-family: Softi-Bolt;
}

.services-bussines .text-services-bussines p{
    text-align: justify;
    font-size: 20px;
}

/* 
========================
4. Footer
========================
*/

footer{
    width: 100%;
    height: 180px;
    background-image: url(../assets/img/footer.png);
    background-size: cover;
    padding: 2% 7%;
    color: #fff;
}

footer .partial-footer{
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
}


footer .partial-footer h3{
    font-family: Softi-Bolt;
    text-align: center;
    margin-bottom: 15px;
}

footer .partial-footer p{
    font-size: 18px;
}

footer .partial-footer .redes-sociales{
    width: 20%;
    height: 60%;
    display: inline-block;
    vertical-align: top;
    margin: 2%;
}

footer .partial-footer .logo-footer{
    width: 30%;
}