/*
Copyrigth Softi 2017

============================
Índice:
============================

1. Configuraciones Globales
2. Header/Nav/Subheader
3. Sección
4. Footer

============================

===========================
1. Configuraciones Globales 
===========================
*/

@font-face{
    font-family: "Softi-Bolt";
    src: url("../assets/fonts/SoftiBold.otf");
}
@font-face{
    font-family: "Softi-Light";
    src: url("../assets/fonts/SoftiLight.otf");
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px !important;
    background-color: #e8e8e7;
}
::-webkit-scrollbar{
    width: 8px;
    border-radius: 3px !important;
}

::-webkit-scrollbar-thumb{
    border-radius: 3px !important;
    background-color: dimgrey;
    background-image: -webkit-linear-gradient(90deg,transparent, rgba(0, 0, 0, 0.3) 50%, transparent, transparent)
}
::-webkit-scrollbar-corner {
      background-color: black;
}

*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    max-height: 100%;
    font-family: Softi-Light;
}

body{
    background-image: url(../assets/img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.borde-difuminado{
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
}

.text-separation-left{
    padding-left: 7%;
}

.text-separation-right{
    padding-right: 7%;
}

hr{
    width: 85%;
    margin: 0 auto;
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.icon{
    width: 20px;
    height: 20px;
}

.button-small{
    width: 35%;
    height: 35px;
    border-radius: 2px;
    border-style: double;
    margin: 4%;
}

.white{
    background-color: white;
    color: #FF4B05;
}

.orange{
    background-color: #FF4B05;
    color: #FFF;
}

.hide{
    display: none;
}
/* 
========================
2. Header/Nav 
========================
*/

.header-big, .header-contacto{
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
    
}

.header-big{
    background: url("../assets/img/desarrollo-web.jpg") no-repeat;
    background-size: cover;
}

.header-contacto{
    background: url("../assets/img/contacto.jpg") no-repeat;
    background-size: cover;
}

nav{
    position: relative;
    width: 100%;
    padding: 2% 7%;
    position: relative;
}

.header-big nav, .header-contacto nav{
    height: 130px;
}

.header-small nav{
    height: 100px;
}

nav .logo-principal, nav .nav-content, .services .header-services .img-services{
    vertical-align: top;
    display: inline-block;
}

.logo-principal{
    position: relative;
    display: block;
    height: 100%;
    background-size: 100% 100%;
}

.nav-content{
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
}

.nav-content ul{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.header-big nav .nav-content ul, .header-contacto nav .nav-content ul{
    top: 25%;
    height: 50%;
}

.header-small nav .nav-content ul{
    top: 10%;
    height: 80%;
}

.nav-content ul li{
    width: 25%;
    height: 100%;
    float: left;
}

.nav-content ul li a{
    width: 100%;
    height: 100%;
    display: block;
    line-height: 40px;
    text-decoration: none;
    font-family: Softi-Bolt;
    transition: color 1s;
}

.header-big nav .nav-content ul li a, .header-contacto nav .nav-content ul li a{
    line-height: 40px;
    color: #FFF;
}

.header-small nav .nav-content ul li a{
    line-height: 35px;
    color: #000;
}

.header-big nav .nav-content ul li a:hover, .header-contacto nav .nav-content ul li a:hover, .header-small nav .nav-content ul li a:hover{
    color: #FF4B05;
}

.line-menu{
	width: 0%;
	height: 2px;
	background-color: #f25100;
	transition: width 0.5s linear;
}

.header-big nav .nav-content ul li:hover .line-menu, .header-contacto nav .nav-content ul li:hover .line-menu{
    width: 100%;
}

.header-small nav .nav-content ul li:hover .line-menu{
    width: 100%;
}

.data-contacto{
    width: 50%;
    height: 80%;
    float: left;
    position: relative;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 2% 5%;
}

.contacto{
    width: 60%;
    height: 40%;
    padding: 5%;
    -ms-transform: rotate(-2.5deg); /* IE 9 */
    -webkit-transform: rotate(-2.5deg); /* Safari */
    transform: rotate(-2.5deg);
}

.contacto h2, .form-contacto h2{
    font-family: Softi-Bolt;
    margin-bottom: 10px;
    color: #FF4B05;
}

.contacto p{
    color: #fff;
}

.contacto .redes-sociales{
    width: 20%;
    margin: 3% 1%;
}

.form-contacto{
    width: 70%;
    height: 100%;
    background-color: rgba(255,255,255, 0.6);
    padding: 5%;
}

.form-contacto input, select, textarea{
    width: 100%;
    padding: 5px;
}

.form-contacto input,select{
    height: 25px;
    margin-bottom: 8px;
}

.form-contacto textarea{
    height: 100px;
    resize: none;
}

.form-contacto label{
    font-size: 12px;
}

.form-contacto button{
    border: 0px;
    display: block;
    margin: 4% auto 0 auto;
    border-style: double;
}

.form-contacto button:hover{
    font-family: Softi-Bolt;
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
}

.partial-header{
    position: relative;
    width: 100%;
    height: 70%;
    display: -webkit-flex;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.services{
    width: 25%;
    height: 35%;
    text-align: center;
}

.services .header-services{
    width: 100%;
    height: 80%;
}

.services .header-services .img-services{
    width: 32%;
    height: 100%;
}

.img-services1, .img-services2, .img-services3{
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.services .header-services .img-services.img-services1{
    background-image: url("../assets/img/web.png");
}
.services .header-services .img-services.img-services2{
    background-image: url("../assets/img/movil.png");
}
.services .header-services .img-services.img-services3{
    background-image: url("../assets/img/soporte.png");
}

.services .legend-services{
    position: relative;
    display: block;
    width: 100%;
    height: 20%;
    line-height: 40px;
    color: #fff;
    font-family: Softi-Bolt;
    font-size: 20px;
}

.button-scroll{
    width: 4%;
    height: 8%;
    position: relative;
    display: block;
    float: right;
    margin-right: 2%;
    border-radius: 3px;
    border-style: none;
    background: white url("../assets/img/scroll-button.png");
    background-size: 100% 100%;
    transition: background-color 1s;
}

.button-scroll:hover{
    background-color: gainsboro; 
}

.sub-header{
    position: relative;
    display: block;
    width: 100%;
    height: 10%;
    padding: 1% 7%;
    background-color: gainsboro;
}

.desarrollo-web1, .desarrollo-web2{
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-right: 5.5%;
}

.desarrollo-web1{
    width: 9%;
    height: 100%;
}

.desarrollo-web2{
    width: 4%;
    height: 100%;
}

.desarrollo-web1:last-child{
    margin-right: 0;
}

/*
======================
3. Sección
======================
*/

.services-bussines{
    position: relative;
    display: block;
    width: 100%;
    height: 250px;
    max-height: 300px;
    overflow: hidden;
    padding: 1% 7%;
    margin: 4% 0;
}

.services-bussines .text-services-bussines, .services-bussines .img-services-bussines{
    position: relative;
    display: block;
    height: 100%;
    float: left;
}

.services-bussines .text-services-bussines{
    width: 70%;
}

.services-bussines .img-services-bussines{
    width: 30%;
}

.services-bussines .text-services-bussines h2{
    color: #FF4B05;
    font-family: Softi-Bolt;
}

.services-bussines .text-services-bussines p{
    text-align: justify;
    font-size: 20px;
}
.services-bussines .text-services-bussines ul{
    text-align: justify;
    font-size: 17px;
}

.portafolio{
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    padding: 2% 7%;
}

.portafolio h2{
    text-align: center;
    font-family: Softi-Bolt;
    color: #FF4B05
}

.portafolio p{
    text-align: center;
    margin-bottom: 2%;
}

.portafolio .proyect{
    position: relative;
    display: table-cell;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    height: 70%;
    float: left;
    margin: 5px;
}

.portafolio .proyect img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.portafolio .proyect:hover img{
    opacity: 0.5;
    z-index: 1;
}

.portafolio .proyect .button-proyect{
    position: absolute;
    width: 30%;
    height: 10%;
    border: none;
    z-index: 100;
}

.mostrar-portafolio{
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7) !important;
    padding: 20px;
    z-index: 100;
    overflow: auto !important;
}
.data-portafolio{
    width: 40%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    margin: 0 auto;
    overflow:auto;
    z-index: 1000;
    cursor: pointer;
}

.data-portafolio img{
    background-image: cover;
}

.img1-proyecto,.img2-proyecto,.img3-proyecto, .data-proyecto{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 !important;
}

.img1-proyecto{
    height: 300px;
}
.img2-proyecto, .img3-proyecto{
    height: 600px;
}
.data-proyecto{
    position: relative;
    display: flex;
    min-height: 150px;
    overflow: auto;
    align-items: center;
    padding: 3%;
}

.titulo-proyecto,.desc-proyecto{
    position: relative;
    display: block;
    height: 100%;
    float: left;
}

.titulo-proyecto{
    width: 40%;
    display: block;
    position: relative;
}

.titulo-proyecto h3{
    color: #FF4B05;
    margin: 0 auto;
    text-align: center;
    font-family: Softi-Bolt;
}

.titulo-proyecto p{
    text-align: center;
    font-size: 12px;
}

.desc-proyecto{
    width: 60%;
    border-left: 2px dotted gray;
    padding-left: 3%;
}

.desc-proyecto p{
    font-size: 15px;
    text-align: justify;
}

.desc-proyecto h4{
    font-family: Softi-Bolt;
    color: #FF4B05;
    margin: 4% 0 2% 0;
}

.desc-proyecto ul{
    padding-left: 5%;
}

.desc-proyecto ul li{
    list-style: circle;
}
/* 
========================
4. Footer
========================
*/

footer{
    width: 100%;
    height: 180px;
    background-image: url(../assets/img/footer.png);
    background-size: cover;
    padding: 2% 7%;
    color: #fff;
}

footer .partial-footer{
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
}


footer .partial-footer h3{
    font-family: Softi-Bolt;
    text-align: center;
    margin-bottom: 15px;
}

footer .partial-footer p{
    font-size: 18px;
}

footer .partial-footer .redes-sociales{
    width: 20%;
    height: 60%;
    display: inline-block;
    vertical-align: top;
    margin: 2%;
}

footer .partial-footer .logo-footer{
    width: 30%;
}